.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 4rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  background: var(--black);
}

.footer-big-padding {
  padding-top: calc(
    var(--footer-card-height) - (var(--footer-card-height) / 2) + 4rem
  );
  margin-top: var(--footer-card-height);
}

.footer-small-padding {
  padding-top: 4rem;
  margin-top: 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--white);
  width: 100%;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ffffff0d;
  text-decoration: none;
}

.list {
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 2px;
  list-style: none;
  color: var(--white);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
}

.contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff33;
  margin-bottom: 2.5rem;
}

.contact h5 {
  font-weight: 700;
  font-size: 1rem;
}

.container {
  width: 100%;
  text-align: center;
}

@media all and (min-width: 768px) {
  .container {
    display: flex;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ffffff0d;
    align-items: center;
  }

  .list {
    flex-direction: row;
    width: auto;
    margin-left: auto;
    gap: 3rem;
  }

  .list a {
    width: auto;
  }

  .logo {
    padding: 0;
    border: 0;
    width: max-content;
  }

  .contact-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.875rem;
  }

  .footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .footer-big-padding {
    padding-top: 10rem;
  }

  .contact {
    margin-bottom: 0;
    align-items: flex-start;
  }
}
